:root {
  --dark: #2d2d2d;
  --light-blue: #61DAFB;
  --light: #DEEBF8;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  min-height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #E5E5E5;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* App */
.container {
  width: 760px;
  max-width: 100%;
  border-radius: 10px;
}
/* Navbar Style */
.nav {
  display: flex;
  align-items: center;
  padding: 1.5rem 1rem;
  background: var(--dark);
  border-radius: 5px 5px 0 0;
}
.nav__logo {
  width: 60px;
}
.nav__title {
  color: var(--light-blue);
  font-weight: 700;
  font-size: 23px;
}
.nav__subtitle {
  color: var(--light);
  font-weight: 600;
  margin-left: auto;
  cursor: pointer;
  transition: all .1s ease-in-out;
}
.nav__subtitle:hover {
  color: var(--light-blue);
}
main {
  padding: 5rem 2rem;
  background-color: #282D35;
  color: white;
  border-radius: 0 0 5px 5px;
  position: relative;
  overflow: hidden;
}
.main__title {
  font-size: 35px;
  font-weight: 700;
}
.main__list {
  margin-top: 2rem;
  padding-left: 3rem;
}
.main__list > li {
  margin-top: 1.5rem;
  font-weight: 300;
  color: white
}
.main__list li::marker {
  font-size: 25px;
  color: var(--light-blue);
}
.main__bg {
  position: absolute;
  top: 0;
  right: -30%;
  opacity: .4;
}
/* Main Style */